body{
	background-color: #0065B3;
	height:100%;
	
}

main{
	background-color:#696969;
	width:75%;
	height:100%;
}


#form{
	float: left;
	font-family:Arial;
	color:#e61030;
	background-color:black;
	padding:10px;
	margin-left:5%;
	width:40%;
	position: relative;
	top: 5px;
	bottom: 5px;
}

#form form button{
  font-family: Arial;
  font-size: 15px;
  padding: 10px 20px 10px 20px;

}

#form form button:hover {
  background: #aeb2b5;
  text-decoration: none;
}

#list_content{
	float:right;
	background-color: black;
	padding:10px;
	margin-right:5%;
	width:40%;
	position: relative;
	top: 5px;
	bottom: 5px;
}

#filenames{
	
	font-family:Arial;
	color:white;
	padding:10px;
	
}